.glitch {
    position: relative;
    display: inline;
}

.clone {
    position: absolute;
    margin: 0;
    padding: 0;

    &.cloneOne,
    &.cloneTwo {
        position: absolute;
        left: 2px;
        top: 0;

        //background: #000;

        overflow: hidden;
        clip: rect(0, 900px, 0, 0);

        animation: noise-anim 2s infinite linear alternate-reverse;
    }

    &.cloneTwo {
        text-shadow: 2px 0 #FFFFFF;
        animation: noise-anim-2 3s infinite linear alternate-reverse;
    }
}
