/* ==========================================================================
   Base
   ========================================================================== */

/* Box model
   ========================================================================== */
* {
    box-sizing: border-box;
    outline: none;
}

*:before, *:after {
    box-sizing: border-box;
}


/* Html & body
   ========================================================================== */
html,
body {
    overflow-x: hidden;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

body {
    background-color: $black;
    min-height: 100%;

    overflow-x: hidden;
}
